@{
    ViewData["Title"] = "Home Page";
}
    <div class="text-center form-group">

        @{
            try
            {
                <div class="col-md-4">
                    <input class="form-control" type="text" name="pattern" id="searchText" placeholder="Search by Movie.." />
                    <div id="movieList">
                    </div>                    
                </div>
                
            }
            catch (Exception)
            {

                throw;
            }
        }
    </div>
