@{
    ViewData["Title"] = "Movie Page";
}
@model Movie
<div class="text-center form-group">
    <div class="col-md-4">
        <ul>
            <li>@Model.Name</li>
            <li>@Model.Genre</li>
            <li>@Model.Rating</li>
            <li>@Model.ReleaseDate</li>
        </ul>
    </div>
</div>
