@model IEnumerable<SearchResult>
    <div class="container">
        @{
            var result_by_category = Model.GroupBy(x => x.Category).ToList();

            @foreach (var category in result_by_category)
            {
                <ul class="fan-autocomplete-category">
                    <h3 class="fan-autocomplete-heading"> @category.Key </h3>
                    @foreach (var result in category)
                    {
                       <li class="fan-autocomplete-item cta">
                           <a asp-controller="Movie" asp-action="Index" asp-route-id="@result.ID"> @result.Name</a>
                       </li>
                    }
                </ul>
             }
         }
    </div>