@model Dictionary<string, List<SearchResult>>

    <div class="container fan-autocomplete-results is-open">
        @{

            @foreach (var category in Model)
            {
                <ul class="fan-autocomplete-category card">
                    <li class="fan-autocomplete-heading card-"> @category.Key </li>
                    @foreach (var result in category.Value)
                    {
                        <li class="fan-autocomplete-item cta card-text">
                            <a asp-controller="Home" asp-action="Details" asp-route-id="@result.ID"> @result.Name</a>
                        </li>
                    }
                </ul>
                }
            }
    </div>